/* @import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&family=Vazirmatn:wght@400;500;600&display=swap"); */

* {
  font-family: "Vazirmatn", Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  /* background-color: #F0F8FF; */
  /* background-color: #0c5798; */
  /* background : url('../public/background.css'); */
  background-image: url("../public/background2.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}

:root {
  --btn-color: #007bff;
  --btn-choosen: #0ca789;
  --option-color: #3c0ca7;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    /* width: 970px; */
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    /* width: 1000px; */
  }
}

p {
  text-align: center;
  font-weight: 400;
}

li {
  list-style: none;
}

