.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(204, 70%, 53%);
  padding: 10px;
  border-radius: 8px;
  
  
}

.header div p {
  font-size: 30px;
  font-style: bold;
  color: white;
  text-transform: uppercase;
  
}

.header .icons img{
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
.header  button {
  padding: 10px 20px;
    background-color: white;
    color: #3498db;
    margin-left: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}