/* CSS */
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  margin: 0 auto;
}

.upload-container input[type="file"] {
  margin-bottom: 20px;
}

.upload-container .image-preview {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.upload-container .image-preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.upload-container button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-container button:hover {
  background-color: #2980b9;
}

/* CSS */
.prediction-result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.prediction-result h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.preduction-result h2{
  text-align: center;
  border: 1px solid  #2980b9;
  padding: 10px 20px;
}
.prediction-result p {
  font-size: 32px;
  color: #333;
  text-align: center;
}
